/*Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

/*General page styling*/

* {
    box-sizing: border-box;
}

html {
    overflow-y: hidden;
}

body {
    margin: 0;
    padding: 0;
    margin-top: 25px;
    font-family: Orbitron, sans-serif;
    font-weight: 400px;
    text-transform: uppercase;
    height: 100vh;
}

h1, h2{
    text-align: center;
    color: #3a3a3a;
    font-family: Orbitron, sans-serif;
    line-height: 2em;
}

h2 {
    font-size: 1rem;
}

header, .rules-area {
    height: 10vh;
}

header{
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 5px;
}

/*Container styling*/

.container {
    position: relative;
}

.game-area {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
    background: #FFFFFF url("../images/vs-image.jpg") no-repeat center center;
}

/*Player area styling*/

.player-area {
    box-sizing: border-box;
    width: 50%;
    height: 30vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25vh;
}

.player1-area {
    float: left;
}

.player2-area {
    float: right;
}

#player1-name {
    color: red;
    margin-right: 15%;
}

#player2-name {
    color: #0077CA;
    margin-left: 15%;
}

#player1-name, #player2-name {
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 2px;
}

/*Rules area styling*/

.rules-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #3a3a3a;
    border-bottom: 2px solid #3a3a3a;
    bottom: 0;
    position: fixed;
}

#rules-button {
    margin: 50px;
}

button {
    width: fit-content;
    border: 2px solid #3a3a3a;
    font-size: 1.2rem;
    font-family: Orbitron, sans-serif;
    color: #3a3a3a;
    border-radius: 15px;
    padding: 20px;
}

/*Move icon styling*/

.move-image {
    width: 100px;
    margin: 25px;
}

/*Rules popup styling*/

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 25%;
    background-color: white;
    border: 2px solid #3a3a3a;
    border-radius: 15px;
    padding: 10px 15px;
    z-index: 100;
    transition: 200ms ease-in-out;
}

.popup-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    border-bottom: 2px solid #3a3a3a;
}

/*overlay/hiding modals styling*/

.overlay {
    position: fixed;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 1;
}

.overlay-active {
    opacity: 1;
    pointer-events: all;
}

.close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

.popup-active {
    transform: translate(-50%, -50%) scale(1);
}

.move-box {
    width: fit-content;
    transition: 200ms ease-in-out;
}

figure {
    width: fit-content;
}

figcaption {
    text-align: center;
}

.move-container {
    display: flex;
}