/*Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

/*General page styling*/

* {
    box-sizing: border-box;
}

html {
    overflow-y: hidden;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    margin-top: 25px;
    font-family: Orbitron, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    height: 100vh;
    color: white;
}

h1, h2{
    text-align: center;
    color: white;
    font-family: Orbitron, sans-serif;
    line-height: 2em;
}

h2 {
    font-size: 1rem;
}

header, .rules-area {
    height: 10vh;
}

header{
    border-bottom: 2px solid white;
    margin-bottom: 5px;
    background-color: rgba(58, 58, 58, 0.7);
    margin-top: 0;
    padding-top: 0;
    top: 0;
    height: fit-content;
    padding: 2vh;
}

#page-header {
    margin-top: 0;
    padding-top: 0;
}

/*Background video styling*/

.background-video {
    object-fit: cover;    
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: #3a3a3a;
    margin: 0;
    padding: 0;

}

/*Container styling*/

.container {
    position: relative;
}

.game-area {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
    background: url("../images/VS-image.png") no-repeat center center;
}

/*Run game button and game mode text styling*/

#run-game-button {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
}

.container > p {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    background-color: rgba(58, 58, 58, 0.7);
    border: 2px solid white;
    border-radius: 15px;
    width: fit-content;
    padding: 15px;
    text-align: center;
}

#game-mode {
    color: purple;
}

/*Player area styling*/

.player-area {
    box-sizing: border-box;
    width: 50%;
    height: 30vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25vh;
}

.player1-area {
    float: left;
    padding-right: 10%;
}

.player2-area {
    float: right;
    padding-left: 10%;
}

#player1-name {
    color: red;
    margin-right: 15%;
}

#player2-name {
    color: #0077CA;
    margin-left: 15%;
}

#player1-name, #player2-name {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2px;
}

#player1-move-button{
    border-color: red;
    color: red;
}

#player2-move-button {
    border-color: #0077CA;
    color: #0077CA;
}

/*Rules area styling*/

.rules-area {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    position: fixed;
    margin-bottom: 5vh;
}

button {
    width: fit-content;
    border: 2px solid white;
    font-size: 1.2rem;
    font-family: Orbitron, sans-serif;
    color: white;
    border-radius: 15px;
    padding: 20px;
    background: none;
    font-weight: 600;
    background-color: rgba(58, 58, 58, 0.7);
}

/*Move icon styling*/

.move-image {
    width: 100px;
    margin: 25px;
}

/*Popup styling*/

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: fit-content;
    max-width: 90%;
    background-color: rgba(58, 58, 58, 0.7);
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px 15px;
    z-index: 100;
    transition: 200ms ease-in-out;
}

.popup-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    border-bottom: 2px solid #3a3a3a;
}

.pvp-rules, .pvp-rules h3 {
    color: purple;
    text-align: left;
}

/*overlay/hiding modals styling*/

.overlay {
    position: fixed;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 1;
}

.overlay-active {
    opacity: 1;
    pointer-events: all;
}

.close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

.popup-active {
    transform: translate(-50%, -50%) scale(1);
}

.move-box {
    width: fit-content;
    transition: 200ms ease-in-out;
}

figure {
    width: fit-content;
    cursor: pointer;
}

figcaption {
    text-align: center;
}

.move-container {
    display: flex;
}

.hide-element {
    transform: scale(0);
}

/*Player move divs to be fixed position*/

#player1-move,
#player2-move {
    position: fixed;
    top: 46.75%;
}

#player1-move {
    left: 40vw;
}

#player2-move {
    right: 40vw;
}

/*For screen sizes 1800 pixels wide and below*/

@media  screen and (max-width:1800px) {

    #player1-name,
    #player2-name {
        font-size: 2rem;
        text-align: center;
        margin: 50px;
        padding: 0;
    }

    .player-area {
        flex-wrap: wrap;
        display: flex;
        width: 40%;
        text-align: center;
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    .player1-area {
        flex-direction: column;
    }

    .player2-area {
        flex-direction: column-reverse;
    }

    #player1-move {
        left: 30vw;
    }
    
    #player2-move {
        right: 30vw;
    }

    #player1-move,
    #player2-move {
        top: 52vh;
    }
}

/*For screen sizes 1250 pixels wide and below*/

@media screen and (max-width:1250px) {
    
    button,
    .container > p {
        font-size: 1rem;
    }

    #player1-name,
    #player2-name {
        font-size: 1.5rem;
        text-align: center;
        margin: 50px 0;
        padding: 0;
    }

    .move-image {
        width: 75px;
    }

    .popup {
        width: fit-content;
        max-width: 80%;
    }

    .move-image {
        margin: 10px;
        padding: 0;
    }

    .move-box figure {
        margin: 0;
        padding: 0;
        width: fit-content;
    }

    #player1-move,
    #player2-move {
        top: 56vh;
    }
}

/*For screen sizes 900 pixels wide and below*/

@media screen and (max-width:900px) {

    .game-area {
        background-size: 25%;
    }

    button,
    .container > p {
        font-size: 0.5rem;
        padding: 10px;
    }

    #player1-name,
    #player2-name {
        font-size: 1rem;
    }

    .move-image {
        width: 50px;
    }

    #player1-move,
    #player2-move {
        top: 56vh;
    }

    .player-area {
        width: 50%;
        margin-left: 0;
        margin-right: 0;
    }

    .popup p,
    .popup li,
    .popup figure figcaption {
        font-size: 0.5rem;
    }

    .popup h1,
    .popup h2,
    .pvp-rules h3 {
        font-size: 1rem;
    }
}

/*For screen sizes 550 pixels wide and below*/

@media screen and (max-width:550px) {

    .move-image {
        width: 35px;
    }

    .popup .move-image {
        margin: 5px;
    }

    .game-area {
        background-size: 20%;
    }

    #rules {
        width: 90%;
    }

    #player1-name,
    #player2-name {
        font-size: 0.8rem;
    }

    #player1-move,
    #player2-move {
        top: 59vh;
    }

    #player1-move {
        left: 35vw;
    }

    #player2-move {
        right: 35vw;
    }

    header h1 {
        font-size: 1rem;
    }

    header h2 {
        font-size: 0.5rem;
    }
}